.profile-listing-page {
  width: 50rem;
  margin: 0 auto;
  background-color: lavender;
  height: 100vh;
  padding: 2rem;
  list-style: none;
}

.profile-holder {
  display: flex;
}

.user-details {
  padding: 1rem;
}

.profile-page-header {
  display: flex;
}

.profile-image {
  width: 8rem;
  height: 9rem;
  background-color: orange;
}

.user-details {
  padding: 1rem;
}

.profile-listing-page-item {
  margin: 2rem;
}